.ModalBody{
    background-color:#E2E2E2;

}

.ModalHeader{
    background-color:#E2E2E2;

}

.ModalFooter{
    background-color:#E2E2E2;
}

.ModalList{
    list-style:none;
    font-family: 'Times New Roman', Times, serif;
}

.ModalButton{
    margin-bottom:2em;
    margin-left:2em;
}

.ModalImage{
    margin-left:2em;
    margin-top:1em;
}

.ModalBody{
    background-color:#E2E2E2;

}

.ModalHeader{
    background-color:#E2E2E2;

}

.ModalFooter{
    background-color:#E2E2E2;
}

.ModalList{
    list-style:none;
    font-family: 'Times New Roman', Times, serif;
}

.ModalButton{
    margin-bottom:2em;
    margin-left:2em;
}

.ModalImage{
    margin-left:2em;
    margin-top:1em;
}

.form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }