.jumbotron {
  /* background-color: white; */
  padding-left: 30px;
  padding-right: 60px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  /* padding-top: 120px; */
  margin-left: 0;
  margin-bottom: 5em;
  color: black;
  /* background-image: url("../img/img1.jpg.crdownload");
  background-size: cover; */
  background-color: white;
}
.jumboimage{
  margin-bottom:2em;
}
.jumbotitle {
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 2em;
}

.jumbotext {
  font-size: 50px;
  margin-bottom: 1.5em;
  margin-top:1em;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  
}
.jumbolist {
  font-size: 35px;
  margin-bottom: 1.5em;
  margin-top:1.5em;
  font-family:'Times New Roman', Times, serif;
}

.jumbobutton {
  font-size: 20px;
}

.jumboamount{
  font-size:30px;
  margin-bottom:1em;
  font-family:'Times New Roman', Times, serif;
}

.amount{
  font-size:35px;
  font-weight:bold;
  
}