.nav{
  background-color:#061993
}

.header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  font-weight: 5em;
  font-size: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  color:white;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}
.navButton{
  color:black;
}

.logoutButton{
  color:white;
  margin-right:20px;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-weight:bold;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
